.about-page {
    .footer-contactus {
        background-color: white;
    }
    .footer-provide{
        .btn-primary {
            &:not(:disabled):not(.disabled):active:focus{
                box-shadow: none
            }
        }
    }
    .who-we-are {
        margin: 100px 0px 70px 0px;
        h2 {
            font-size: 30px;
            text-align: left;
            margin: 0 0 16px 0px;
            font-family: $primary-font;
            color: $primary-color;
            font-weight: 700;
            @media only screen and (max-width: 768px) {
                font-size: 25px;
                line-height: 35px;
            }
        }
        @media(max-width: 767px){
            margin: 35px 0px 35px 0px;
        }
         p {
            text-align: left;
            @media only screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 26px;
            }
            @media only screen and (max-width: 575px) {
                margin-bottom: 15px;
            }
        }
    }
    .our-values {
        padding: 70px 0px;
        background: #e8eef2;
        @media screen and (max-width:991px){
            padding: 50px 0;
        }
        h2 {
            color: $primary-color;
            text-align: center;
            margin: 0 0 30px 0px;
            font-family: $primary-font;
            font-weight: 700;
            @media only screen and (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
        @media(max-width: 767px){
            padding: 55px 0px 35px;
        }
        @media(max-width: 575px){
            padding: 30px 0 20px;
        }
        .our-values-box-wrapper {
            margin-bottom: 30px;
            &:nth-child(n+5) {
                margin-bottom: 0px;
                @media only screen and (max-width: 991px) {
                    margin-bottom: 30px;
                }
            }
            .our-values-box {
                padding: 30px 15px;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                background-color: #ffffff;
                height: 100%;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #a7a7a7;
                @media screen and (max-width: 575px){
                    height: auto;
                    margin-bottom: 0;
                }
                &:hover {
                    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(58, 49, 60, 0.6);
                }
                .icon {
                    display: inline-block;
                    margin-bottom: 30px;
                    min-height: 75px;
                    width: 50%;
                    @media #{$small-screen}{
                        margin-bottom: 15px;
                    }
                    img {
                        margin: 0 auto;
                        width: 100%;
                        max-height: 75px;
                    }
                }
                h3 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    line-height: 26px;
                    color: $primary-color;
                    font-weight: 600;
                    margin: 0px 0px 10px 0px;
                    @media #{$small-screen}{
                        font-size: 18px;
                    }
                }
                p {
                    text-align: center;
                    margin-bottom: 0px;
                    font-weight: 400;
                    @media only screen and (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .industry{
        padding: 70px 0;
        @media #{$small-screen}{
            padding: 40px 0;
        }
        h5{
            font-size: 18px;
            color: $primary-color;
            font-style: italic;
            margin: 0;
        }
        h2{
            font-size: 30px;
            font-family: Open Sans,sans-serif;
            font-weight: 700;
            color: $primary-color;
            line-height: 30px;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .industry-wrapper{
            .mobile{
                .card{
                    @media #{$small-screen}{
                        margin-bottom: 20px;
                    }
                    .card-body{
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }
        }
        .trusted_wrapper{
            h6{
                font-family: Open Sans,sans-serif;
                font-weight: 400;
                line-height: 27px;
                font-size: 16px;
                margin: 0;
                text-transform: inherit;
            }
            .trutesd-grp{
                margin-top: 20px;
                h2{
                    font-size: 26px;
                    font-weight: 550;
                    color: #0171cf;
                    line-height: 36px;
                    margin: 0;
                }
                h6{
                    font-size: 16px;
                    font-family: Open Sans,sans-serif;
                    font-weight: 400;
                    line-height: 25px;
                    margin: 0 0 20px;
                }
            }
        }
    }
    .why-choose {
        padding: 70px 0px 20px;
        @media only screen and (max-width: 768px) {
            padding: 55px 0px 5px;
        }
        @media only screen and (max-width: 575px) {
            padding: 30px 0px 5px;
        }
        background: #e8eef2;
        h3 {
            text-align: center;
            margin: 0px 0px 30px 0px;
            color: $primary-color;
            font-weight: 700;
            @media screen and (max-width: 575px){
                margin: 0 0 20px 0;
            }
        }
        .box {
            margin-bottom: 50px;
            @media screen and (max-width: 575px){
                margin-bottom: 30px;
            }
            @media screen and (max-width: 360px){
                margin-bottom: 20px;
            }
            h5 {
                font-family: 'Open Sans', sans-serif;
                font-size: 17px;
                font-weight: 600;
                color: $primary-light;
                margin-top: 0px;
                margin-bottom: 5px;
                line-height: 30px;
                letter-spacing: 0.5px;
                padding-right: 55px;
                @media #{$medium-screen}{
                    padding-right: 0;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 25px;
                }
                @media only screen and (max-width: 575px) {
                    font-size: 17px;
                }
            }
            p {
                margin-bottom: 0px;
                font-size: 17px;
                line-height: 30px;
                @media only screen and (max-width: 768px) {
                    font-size:15px;
                }
            }
            img{
                @media screen and (max-width: 575px){
                    width: 40px;
                }
                @media screen and (max-width: 420px){
                    width: 30px;
                }
            }
        }
    }
}
.entry-content{
    margin-top: 30px;
    p{
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        color: #6e6e6e;
        font-size: 17px;
        line-height: 28px;
    }
}

/*========================About us New page css======================

====================================================================*/
.site-page{
    .page-title{
        margin-top: 97px;
        background-color: #fcfcfc;
        padding: 30px 0;
        margin-bottom: 100px;
        @media #{$tablet-screen}{
            margin-bottom: 50px;
        }
        @media #{$mobile-screen}{
            margin-bottom: 30px;
        }
        .pagetitle-wrap{
            h1{
                font-family: $primary-font;
                color: $primary-color;
                font-size: 26px;
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .breadcums{
                ul{
                    list-style: none;
                    li{
                        margin: 0 8px;
                        position: relative;
                        line-height: 14px;
                        &:after{
                            content: "";
                            width: 1px;
                            height: 100%;
                            position: absolute;
                            right: -8px;
                            top: 1px;
                            transform: rotate(15deg);
                            background-color: $primary-light; 
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                        a{
                            font-size: 15px;
                            line-height: 16px;
                            color: $primary-light;
                        }
                    }
                } 
            }
        }
    }
    .who-we-are{
        padding: 100px 0;
        @media #{$medium-screen}{
            padding: 80px 0;
        }
        @media #{$tablet-screen}{
           padding: 50px 0;
        }
        @media #{$mobile-screen}{
            padding: 30px 0;
        }
        .about-content{
            @media #{$tablet-screen}{
                order: 2;
            }
        }
    }
    .our-values{
        padding-bottom: 80px;
        @media #{$tablet-screen}{
            padding-bottom: 30px;
        }
        .title{
            @include heading;
            margin-bottom: 50px;
            @media #{$mobile-screen}{
                margin-bottom: 25px;
            }
        }
        .our-values-inner{
            .our-values-box-wrapper{
                .our-values-box{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    background-color: #ffffff;
                    box-shadow: 0px 2px 9px 0px rgba(102, 102, 102, 0.28);
                    padding: 30px;
                    margin-bottom: 20px;
                    @media #{$mobile-screen}{
                        padding: 15px;
                    }
                    .icon{
                        width: 70px;
                        @media #{$mobile-screen}{
                            width: 55px;
                        }
                    }
                    .descriptions{
                        width: calc(100% - 70px);
                        @media #{$mobile-screen}{
                            width: calc(100% - 55px);
                        }
                        h3{
                            font-family: $primary-font;
                            color: $primary-color;
                            font-size: 26px;
                            margin-bottom: 25px;
                            font-weight: 700;
                            @media #{$tablet-screen}{
                                font-size: 22px;
                                margin-bottom: 15px;
                            }
                        }
                        p{
                            line-height: 30px;
                            margin: 0;
                            @media #{$medium-screen}{
                                min-height: 180px;
                            }
                            @media #{$tablet-screen}{
                                min-height: 270px;
                            }
                            @media #{$small-screen}{
                                min-height: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
    .platforms-we-support{
        padding-bottom: 50px;
        @media #{$mobile-screen}{
            padding-bottom: 30px;
        }
        .title{
            @include heading;
            margin-bottom: 50px;
            @media #{$mobile-screen}{
                margin-bottom: 25px;
            }
        }
        .platforms-inner{
            ul{
                list-style: none;
                align-items: center;
                flex-wrap: wrap;
                @media #{$tablet-screen}{
                    justify-content: center;
                }
                li{
                    width: 20%;
                    text-align: center;
                    @media #{$tablet-screen}{
                        width: 33.333%;
                        margin-bottom: 25px;
                    }
                    @media #{$small-screen}{
                        width: 50%;
                    }
                    @media #{$xs-mobile-screen}{
                        width: 100%;
                    }
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .success-counter{
        background-color: #f4fbff;
        padding: 50px 0;
        @media #{$mobile-screen}{
            padding: 30px 0;
        }
        .counter-list{ 
            list-style: none;
            flex-wrap: wrap;
            margin: 0 -10px;
            @media #{$tablet-screen}{
                justify-content: center;
            }
            li{
                width: 20%;
                padding: 0 10px;
                text-align: center;
                @media #{$tablet-screen}{
                    width: 33.333%;
                    margin-bottom: 25px;
                }
                @media #{$small-screen}{
                    width: 50%;
                }
                @media #{$xs-mobile-screen}{
                    width: 100%;
                }
                .counter-box{
                    h3{
                        font-family: 'Graphik';
                        font-size: 75px;
                        font-weight: bold;
                        background: linear-gradient( 122deg, rgb(91,134,229) 0%, rgb(54,209,220) 100%);
                        background: -webkit-linear-gradient( 122deg, rgb(91,134,229) 0%, rgb(54,209,220) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 10px;
                        @media #{$medium-screen}{
                            font-size: 60px;
                        }
                        @media #{$tablet-screen}{
                            font-size: 50px;
                        }
                        @media #{$small-screen}{
                            font-size: 42px;
                        }
                    }
                    p{
                        color: $black;
                        text-transform: uppercase;
                        margin: 0;
                    }
                }
            } 
        } 
    }
    .our-credentials{
        padding: 50px 0;
        @media #{$mobile-screen}{
            padding: 30px 0;
        }
        .title{
            @include heading;
            margin-bottom: 50px;
            @media #{$mobile-screen}{
                margin-bottom: 25px;
            }
        }
        .our-credentials-wraper{
            .our-credentials-box{
                padding: 0 30px;
                margin-bottom: 50px;
                .image{
                    max-width: 100%;
                    margin-bottom: 15px;
                    min-height: 125px;
                    @media #{$mobile-screen}{
                        min-height: inherit;
                    }
                }
                .c-title{
                    font-family: $primary-font;
                    font-size: 14px;
                    color: #303030;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 18px;
                    margin: 0;
                }
            }
        }
    }
}
