.page-banner{
    padding: 150px 0 50px;
    @media #{$small-screen}{
        padding: 100px 0 50px;
    }
    @media #{$small-screen}{
        padding: 100px 0 50px;
    }
    @media #{$mobile-screen}{
        padding: 70px 0 50px;
    }
    .banner-content-wrap{
        @media #{$small-screen}{
            order: 2;
            margin-top: 20px;
        }
    }
    .banner-content{
        h1{
            font:{
                size: 40px;
                family: $primary-font;
                weight: 700;
            }
            color: $white;
            // text-transform: uppercase;
            margin-bottom: 25px;
            @media #{$medium-screen}{
                font-size: 34px;
                line-height: 48px;
            }
            @media #{$tablet-screen}{
                font-size: 30px;
                line-height: 38px;
            }
            span{
                color: #96d21f;
            }
        }
        p{
            color: #cfdefb;
            font:{
                family: $primary-font;
                size: 18px;
            } 
            line-height: 32px;
            @media #{$tablet-screen}{
                font-size: 20px;
                line-height: 22px;
            }
        }
        a{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background: #fff;
            color: #404040;
            padding: 9px 25px;
        }
    }
    .banner-image{
        text-align: right;
        @media #{$small-screen}{
            text-align: center;
            margin-top: 20px;
        }
        img{
            max-width: 100%;
            width: auto;
        }
    }
    &.home{
        padding: 165px 0 100px;
        @media #{$medium-screen}{
            padding: 120px 0 50px;
        }
        @media #{$mobile-screen}{
            padding: 70px 0 50px;
        }
        .baner-content-wrap{
            @media #{$small-screen}{
                order: 2;
                margin-top: 20px;
            }
        }
        h1{
            color: $primary-color;
            text-transform: inherit;
            font-family: $primary-font;
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 40px;
            @media #{$medium-screen}{
                font-size: 34px;
                line-height: 48px;
                margin-bottom: 25px;
            }
            @media #{$tablet-screen}{
                font-size: 29px;
                line-height: 38px;
            }
        }
        p{
            color: $primary-light;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 0;
            @media #{$medium-screen}{
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    &.make{
        background: linear-gradient( -47deg, rgb(3,22,142) 0%, rgb(7,132,165) 100%);
        background: -webkit-linear-gradient( -47deg, rgb(3,22,142) 0%, rgb(7,132,165) 100%);
    }
    &.market{
        background: -webkit-linear-gradient( 128deg, rgb(0,39,87) 50%, rgb(55,213,214) 100%);
        background:  linear-gradient( 128deg, rgb(0,39,87) 50%, rgb(55,213,214) 100%);
    }
    &.maintain{
        background: -webkit-linear-gradient( -7deg, rgb(42,8,69) 1%, rgb(100,65,165) 100%);
        background: linear-gradient( 47deg, rgb(42,8,69) 1%, rgb(100,65,165) 100%);
    }
}
.sub-service-baner{
    padding: 80px 0;
    @media #{$tablet-screen}{
        padding: 50px 0;
    }
    @media #{$mobile-screen}{
        padding: 40px 0;
    }
    .baner-image-wrap{
        @media #{$small-screen}{
            margin-bottom: 30px;
        }
    }
    .baner-content-wrap{
        .content-wrap{
            p{
                font-size: 16px;
                line-height: 32px;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &.ecommerce-development{
        padding: 40px 0;
        .baner-content-wrap{
            padding-top: 30px;
        }
    }
}