@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
/*==========Variables==========*/
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-color: #00104b;
$primary-light: #667093;
$secondary-color: #2a0845;
$black: #000;
$white: #ffffff;
$dark-gray: #333;
$light-gray: #666;
$bg-color: #1c9fa5;
$transition: all 0.5s ease;
body{
    font-size: 16px;
    line-height: 24px;
    color: $primary-light;
    font-family: $secondary-font;
}
img{
    margin: 0;
}
@mixin heading{
    font-size: 36px;
    line-height: 42px;
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    @media #{$tablet-screen}{
        font-size: 32px;
        line-height: 35px;
    }
    @media #{$small-screen}{
        font-size: 28px;
        line-height: 35px;
    }
}
@mixin sub-heading($font-size){
	font:{
        size: $font-size;
        family: $primary-font;
        weight: 700;
    }
    color: $primary-color;
}
@mixin link($color){
    font:{
        size: 18px;
        family: $primary-font;
        weight: bold;
    }
    color: $color;
    position: relative;
    padding-right: 17px;
    &:after{
        content: "\f101";
        font: normal normal normal 22px/1 FontAwesome;
        position: absolute;
        right: 15px;
        top: 0;
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover{
        text-decoration: none;
        &:after{
            opacity: 1;
            right: 0; 
        }
    }
}
@mixin theme-btn($bgcolor: $black, $font-size: 17px, $padding: 14px 26px, $border-radius: 2px,){
    background-color: $bgcolor;
    border-radius: $border-radius;
    color: $white;
    font-size: $font-size;
    font-family: $primary-font;
    padding: $padding;
    font-weight: 600;
    box-shadow: none;
    display: inline-block;
    transition: $transition;
    &:hover{
        text-decoration: none;
        background-color: $primary-color;
    }
}
@media screen and (min-width: 1310px){
    .container{
        max-width: 1310px;
    }
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/*=============Responsive Media Query Variables==================*/
$extra-large-screen: "screen and (min-width: 1300px)";
$medium-screen : "screen and (max-width: 1199px)";
$tablet-screen : "screen and (max-width: 991px)";
$small-screen : "screen and (max-width: 767px)";
$mobile-screen : "screen and (max-width: 575px)";
$xs-mobile-screen : "screen and (max-width: 420px)";