.sub-services-breadcums{
    margin-top: 97px;
    background-color: #fcfcfc;
    padding: 25px 0;
    .breadcums-inner{
        text-align: center;
        .page-title{
            h1{
                font-size: 26px;
                color: $primary-color;
                font-family: $primary-font;
                font-weight: 600;
                line-height: 30px;
                margin-bottom: 15px;
            }
        }
        .breadcums-wrap{
            ul{
                list-style: none;
                li{
                    margin: 0 8px;
                    position: relative;
                    line-height: 14px;
                    @media #{$mobile-screen}{
                        margin: 0 6px;
                    }
                    &:after{
                        content: "";
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        right: -8px;
                        top: 1px;
                        background-color: #667093;
                        transform: rotate(15deg);
                        background-color: $primary-light;
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                    a{
                        font-size: 15px;
                        line-height: 16px;
                        color: $primary-light;
                        @media screen and (max-width: 362px){
                            font-size: 12px; 
                        }
                    }
                }
            }
        }
    }
}
.ecommerce-sercices-wrap{
    background-color: #fcfcfc;
    padding: 50px 0 40px;
    .section-title{
        @include heading;
        margin-bottom: 50px;
    }
    .services-list{
        padding: 0 80px;
        @media #{$medium-screen}{
            padding: 0;
        }
        .service-box{
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 0px 110px 0px rgba(181, 185, 196, 0.35);
            padding: 35px 25px;
            margin-bottom: 30px;
            .ss-title{
                h2{
                    font-size: 22px;
                    line-height: 32px;
                    color: $primary-color;
                    font-family: $primary-font;
                    margin-bottom: 20px;
                    font-weight: bold;
                    min-height: 64px;
                    @media #{$small-screen}{
                        min-height: inherit;
                    }
                }
            }
            .ss-content{
                min-height: 110px;
                @media screen and (max-width: 1309px){
                    min-height: 125px;
                }
                @media #{$small-screen}{
                    min-height: inherit;
                }
                p{
                    margin: 0;
                }
            }
        }
    }
}
.platform-section{
    padding: 0 0 40px 0;
    @media #{$small-screen}{
        padding: 0 0 50px 0;
    }
    .section-title{
        @include heading;
        margin-bottom: 90px;
        @media #{$small-screen}{
            margin-bottom: 50px;
        }
    }
    .platform-wrap{
        margin-bottom: 100px;
        &:last-child{
            margin: 0;
        }
        @media #{$small-screen}{
            margin-bottom: 60px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .platform-content-wrap{
            .content-inner{
                .p-title{
                    margin-bottom: 20px;
                    img{
                        margin-right: 15px;
                    }
                    h4{
                        font-size: 26px;
                        font-weight: 700;
                        color: $primary-color;
                        font-family: $primary-font;
                        margin: 0;
                    }
                }
                .p-desc{
                    margin-bottom: 20px;
                    p{
                        margin: 0;
                    }
                }
                .know-more-btn{
                    a{
                        @include theme-btn($bgcolor: $black, $font-size: 16px, $padding: 10px 30px, $border-radius: 7px);
                        font-weight: normal;
                    }
                }
            }
        }
        &.even{
            .platform-content-wrap{
                @media #{$small-screen} {
                    display: flex;
                    order: 2;
                }
            }
        }
    }
}