.footer-contactus{
    background-color: #efefef;
    .footer-contactus-inner{
        position: relative;
        padding: 45px 0;
        .contcta-image{
            position: absolute;
            top: 40px;
            left: 0;
            @media #{$tablet-screen}{
                position: inherit;
                top: inherit;
                left: inherit;
                img{
                    max-width: 200px;
                }
            }
        }
        .content{
            h2{
                @include heading;
                font-size: 32px;
                color: $dark-gray;
                margin-bottom: 20px;
                @media #{$tablet-screen}{
                    font-size: 30px;
                    margin-bottom: 15px;
                }
                @media #{$small-screen}{
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }
            p{
                font-size: 18px;
                line-height: 28px;
                color: $light-gray;
                margin-bottom: 40px;
                @media #{$tablet-screen}{
                    margin-bottom: 15px;
                }
            }
            .start-pro-btn{
                display: inline-block;
                background-color: $dark-gray;
                border-radius: 5px;
                font-size: 16px;
                font-family: $primary-font;
                font-weight: 600;
                color: $white;
                text-transform: uppercase;
                padding: 15px 20px;
                transition: $transition;
                &:hover{
                    text-decoration: none;
                    background-color: $primary-color;
                    color: $white;
                }
                @media #{$tablet-screen}{
                    padding: 12px 15px;
                    font-size: 15px;
                }
            }
        }
    }
}
.site-footer{
    background-color: #002757;
    color: $white;
    font-size: 15px;
    font-weight: normal;
    a:hover{
        text-decoration: none;
    }
    .main-footer{
        padding: 100px 0 20px;
        border-bottom: 1px solid #3a4c62;
        @media #{$tablet-screen}{
           padding: 50px 0 20px;
        }
        .footer-col-left{
            @media #{$tablet-screen}{
                margin-bottom: 30px;
            }
            .f-left-top{
                border-right: 1px solid #3a4c62;
                @media #{$medium-screen}{
                    margin-right: 0;
                }
                @media #{$tablet-screen}{
                    border-right: 0;
                }
                .footer-logo{
                    margin-bottom: 20px;
                    img{
                        height: 45px;
                    }
                }
                .contact-info{
                    margin-bottom: 20px;
                    ul{
                        li{
                            margin-bottom: 5px;
                            .icon{
                                margin-right: 15px;
                                i{
                                    color: $white;
                                }
                            }
                            a{
                                color: $white;
                                font-weight: 600;
                                &:hover{
                                    color: #93cf1c;
                                }
                            }
                        }
                    }
                }
                .company-ratings{
                    margin-bottom: 30px;
                    .figure{
                        margin-bottom: 10px;
                    }
                    p{
                        padding-right: 90px;
                        @media screen and (max-width: 1309px){
                            padding-right: 0;
                        }
                    }
                }
            }
            .socials{
                ul{
                    list-style: none;
                    display: flex;
                    li{ 
                        margin-right: 15px;
                        a{
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            border-radius: 100%;
                            text-align: center;
                            line-height: 25px;
                            background-color: $white;
                            color: #002757;
                            &:hover{
                                color: #93cf1c;
                                background-color: #000;
                            }
                        }
                    }
                }
            }
        }
        .footer-col-right{
            .f-right-top{
                margin-bottom: 30px;
                @media #{$mobile-screen}{
                    margin-bottom: 0px;
                }
                .footer-col{
                    .footer-col-inner{
                        border-right: 1px solid #3a4c62;
                        padding-left: 15px;
                        @media #{$mobile-screen}{
                            margin-bottom: 15px;
                        }
                        @media #{$medium-screen}{
                            padding-left: 0;
                        }
                        @media #{$mobile-screen}{
                            border-right: 0;
                        }
                        .s-title{
                            font-size: 18px;
                            color: #93cf1c;
                            font-weight: 600;
                            margin-bottom: 25px;
                            text-transform: uppercase;
                            position: relative;
                            &:after{
                                content: "\f0d7";
                                font: normal normal normal 14px/1 FontAwesome;
                                display: inline-block;
                                color: #93cf1c;
                                margin-left: 5px;
                                display: none;
                                @media #{$mobile-screen}{
                                    display: inline-block;
                                }
                            }
                            a{
                                color: #93cf1c;
                            }
                            @media #{$mobile-screen}{
                                margin-bottom: 13px;
                            }
                        }
                        .s-list{
                            list-style: none;
                            li{
                                margin-bottom: 7px;
                                a{
                                    color: $white;
                                    &:hover{
                                        color: #93cf1c;
                                    }
                                }
                                &:last-child{
                                    margin: 0;
                                }
                            }
                        }
                    }
                    &:nth-child(3){
                        .footer-col-inner{
                            border: 0;
                        }
                    }
                    &.last-col{
                        display: none;
                        @media #{$mobile-screen}{
                            display: block;
                        }
                    }
                }
            }
            .f-right-bottom{
                padding-left: 30px;
                margin-bottom: 30px;
                @media #{$medium-screen}{
                    padding-left: 0;
                }
                @media #{$small-screen}{
                    margin-bottom: 0;
                }
                @media #{$mobile-screen}{
                    display: none;
                }
                .s-title{
                    font-size: 18px;
                    color: #93cf1c;
                    font-weight: 600;
                    margin-bottom: 13px;
                    text-transform: uppercase;
                    display: none;
                    @media #{$mobile-screen}{
                        display: block;
                    }
                }
                .f-menu{
                    list-style: none;
                    @media #{$small-screen}{
                        flex-wrap: wrap;
                    }
                    li{
                        padding: 0 20px;
                        position: relative;
                        line-height: 16px;
                        @media #{$medium-screen}{
                            padding: 0 13px;
                        }
                        @media #{$small-screen}{
                            margin-bottom: 10px;
                        }
                        @media #{$mobile-screen}{
                            width: 100%;
                            padding-left: 0;
                            &::after{
                                display: none;
                            }
                        }
                        &:after{
                            content: "";
                            width: 2px;
                            height: 100%;
                            background-color: $white;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                        &:first-child{
                            padding-left: 0;
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                        a{
                            color: $white;
                            &:hover{
                                color: #93cf1c;
                            }
                        }
                    }
                }
            }
            .footer-creadientials{
                ul{
                    list-style: none;
                    li{
                        margin: 0 10px;
                        @media #{$mobile-screen}{
                            margin: 0 5px 5px;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        padding: 7px 0;
        .copyright-text{
            @media #{$small-screen}{
                margin-bottom: 7px;
            }
        }
        .bottom-link{
            ul{
                list-style: none;
                @media #{$small-screen}{
                    justify-content: left !important;
                    padding-top: 5px;
                }
                li{
                    padding: 0 10px;
                    position: relative;
                    line-height: 17px;
                    margin: 0;
                    @media #{$small-screen}{
                        &:first-child{
                            padding-left: 0;
                        }
                    }
                    &:after{
                        content: "";
                        width: 2px;
                        height: 100%;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}
.banner-image{
    img{
        width: 100%;
    }
}