.site-header{
    padding: 30px 0 0;
    position: absolute;
    width: 100%;
    top: 0; 
    .site-branding{
        img{
            max-width: 100%;
            width: 180px;
            margin: 0;
        }
    }
    .site-nav{
        .nav{
            margin: 0;
            li{
                display: inline-block;
                padding: 0 30px;
                padding-bottom: 2px;
                position: relative;
                cursor: pointer;
                font:{
                    size: 19px;
                    family: $primary-font;
                    weight: 600; 
                }
                color: $white;
                a{
                    font:{
                        size: 20px;
                        family: $primary-font;
                        weight: 600; 
                    }
                    color: $white;
                    position: relative;
                    &:before{
                        content: "";
                        width: 0;
                        height: 1px;
                        background: $white;
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        -webkit-transition: all 0.2s linear;
                        -o-transition: all 0.2s linear;
                        transition: all 0.2s linear;
                    }
                    &:hover{
                        text-decoration: none;
                        &::before{
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
                &.has-submenu{
                    &:after{
                        content: "\F107";
                        font: normal normal normal 22px/1 FontAwesome;
                        position: absolute;
                        right: 11px;
                        top: 2px;
                    }
                }
                .sub-menu{
                    margin: 0;
                    background: $white;
                    width: 200px;
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    top: 25px;
                    z-index: 9999;
                    display: none;
                    li{
                        display: block;
                        margin: 0;
                        padding: 7px 10px;
                        a{
                            color: $primary-color;
                            font-size: 17px;;
                        }
                    }
                }
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
        .request-a-quote{
            a{
                @include theme-btn($bgcolor: $black, $font-size: 16px, $padding: 11px 18px, $border-radius: 2px,);
                text-transform: uppercase;
                @media #{$medium-screen}{
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &#lightheader{
            li{
                color: $primary-color;
                a{
                    color: $primary-color;
                }
                .sub-menu{
                    background: $primary-color;
                    li{
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
        &#darkheader{
            li{
                color: $white;
                a{
                    color: $white;
                }
                .sub-menu{
                    background: $primary-color;
                    li{
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .request-a-quote{
        a{
            display: inline-block;
            background-color: #1e2129;
            color: $white;
            font:{
                family: $primary-font;
                size: 16px;
                weight: bold;
            }
            text-transform: uppercase;
            padding: 11px 18px;
            border-radius: 2px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

  