.site-header{
    padding: 30px 0 0;
    position: absolute;
    width: 100%;
    top: 0; 
    .site-branding{
        img{
            max-width: 100%;
            margin: 0;
        }
    }
    .site-nav{
        .nav{
            margin: 0;
            li{
                display: inline-block;
                margin: 0 20px;
                padding-bottom: 2px;
                a{
                    font:{
                        size: 20px;
                        family: $primary-font;
                        weight: 600; 
                    }
                    color: $white;
                    position: relative;
                    &:before{
                        content: "";
                        width: 0;
                        height: 1px;
                        background: $white;
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        right: 0;
                        -webkit-transition: all 0.2s linear;
                        -o-transition: all 0.2s linear;
                        transition: all 0.2s linear;
                    }
                    &:hover{
                        text-decoration: none;
                        &::before{
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
            }
        }
        .request-a-quote{
            a{
                display: inline-block;
                background-color: #1e2129;
                color: $white;
                font:{
                    family: $primary-font;
                    size: 16px;
                    weight: bold;
                }
                text-transform: uppercase;
                padding: 11px 18px;
                border-radius: 2px;
                @media #{$medium-screen}{
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

  