/*=================New Home Page===================*/
.home-new{
.our-service {
    padding: 0 0 100px;
    @media #{$tablet-screen}{
        padding: 0 0 50px;
    }
    @media #{$small-screen}{
        padding: 0 0 50px;
    }
    .title {
        h2 {
            @include heading;
            margin: 0;
        }
    }
    p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 0px;
        @media #{$small-screen} {
            font-size: 16px;
            line-height: 26px;
        }
    }
    .services-inner {
        padding: 50px 0px 0px;
        @media #{$tablet-screen}{
            padding: 30px 0 0;
        }
        .card-deck {
            .card {
                border: 1px solid #e2e7eb;
                background-color: $white;
                border-radius: 0;
                margin: 0px 11px;
                @media #{$small-screen}{
                    flex: 0 0 100%;
                    margin-bottom: 15px;
                }
                .card-img-top {
                    width: auto;
                    max-width: 100%;
                    object-fit: contain;
                    padding: 25px 40px 0;
                    margin-right: auto;
                    max-width: 230px;
                    @media #{$tablet-screen}{
                        padding: 20px 15px 0;
                    }
                    @media #{$small-screen}{
                        max-width: 180px;
                    }
                }
                .card-body {
                    padding: 25px 40px;
                    display: flex;
                    flex-wrap: wrap;
                    @media #{$medium-screen}{
                        padding: 30px 30px;
                    }
                    @media #{$tablet-screen}{
                        padding: 20px 15px;
                    }
                    .card-title {
                        @include sub-heading(22px);
                    }
                    .card-text {
                        margin-bottom: 25px;
                        p{
                        }
                    } 
                    .l-more {
                        @include link($primary-color);
                        margin-top: auto;
                        display: flex;
                        &:after{
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}
.recent-work.portfolio{
    padding: 0 0 100px;
    @media #{$tablet-screen}{
        padding: 0 0 25px;              
    }
    @media #{$small-screen}{
        padding: 0 0 30px;             
    }
    .portfolio-wrap{
        width: 100%;
        position: relative;
        margin-bottom: 0;
        @media #{$small-screen}{
            margin-bottom: 20px;
        }
        .portfolio-image{
            img{
                width: 100%;
                @media #{$small-screen}{
                    
                }
            }
        }
    }
    .half-col{
        display: flex;
        order: 2;
        .portfolio-content{
            @media #{$xs-mobile-screen}{
                top: 15px !important;
                left: 15px !important;
            }
        }
    }
    .full-col{
        margin-bottom: 30px;
        @media #{$small-screen}{
            margin: 0;
        }
        .portfolio-wrap{
            .portfolio-image{
               img{
                   @media #{$small-screen}{
                       height: 250px;
                   }
                   @media #{$xs-mobile-screen}{
                    height: 275px;
                }
               }
            }
            .portfolio-content{
                max-width: 600px;
                @media #{$medium-screen}{
                   padding-right: 140px;
                }
                @media #{$tablet-screen}{
                    padding-right: 0;
                 }
                @media #{$small-screen}{
                    max-width: 100%;
                }
                @media #{$xs-mobile-screen}{
                    top: 15px;
                    left: 15px;
                }
            }
        }
    }
}
.clients-section {
    padding: 100px 0 0;
    @media #{$tablet-screen}{
        padding: 80px 0 0;
    }
    @media #{$small-screen}{
        padding: 50px 0 0;
    }
    .title {
        h2 {
            @include heading;
            margin-bottom: 50px;
            @media #{$small-screen}{
                margin-bottom: 30px;
            }
        }
    }
    .clients-logos {
        border-bottom: 0;
        padding-bottom: 50px;
        @media #{$tablet-screen}{
            padding-bottom: 60px;
        }
        ul {
            padding: 0px;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
                display: flex;
                align-items: center;
                width: 25%;
                padding: 0 15px;
                margin: 0;
                justify-content: center;
                padding-bottom: 30px;
            }
        }
        &.mob-client{
            .slick-slider{
                img{
                    margin: 0 auto;
                }
                .slick-arrow{
                    display: none !important;
                } 
                .slick-track{
                    display: flex;
                    align-items: center;
                }
                .slick-dots{
                    display: flex !important;
                    justify-content: center;
                    li{
                        width: 10px;
                        margin: 0 5px;
                        padding: 0 3px;
                        button{
                            &:before{
                                font-size: 8px;
                            }
                        }
                        &.slick-active{
                            button{
                                &:before{
                                    color: #1f98ea;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.expertise-section {
    padding: 80px 0 100px;
    position: relative;
    &:after{
        content: "";
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        top: -20px;
        background: url('./../images/right-circle.png');
        background-repeat: no-repeat;
        z-index: -1;
        background-position: right top;
    }
    &:before{
        content: "";
        width: 120px;
        height: 100%;
        position: absolute;
        left: 0;
        top: -20px;
        background: url('./../images/left-circle.png');
        background-repeat: no-repeat;
        background-position: left top;
        z-index: -1;
        @media #{$tablet-screen}{
            opacity: 0;
        }
    }
    @media #{$small-screen}{
        padding: 50px 0;
    }
    @media #{$mobile-screen}{
        padding: 15px 0 30px;
    }
    .title {
        @media #{$tablet-screen}{
            margin-bottom: 30px;
        }
        h2 {
            @include heading;
            margin-bottom: 20px;
        }
        p {
            
        }
        .r-more {
            font-size: 16px;
            font-family: $secondary-font;
            color: white;
            text-transform: uppercase;
            background-color: #1e2129;
            width: 170px;
            padding: 14px 10px;
            margin-top: 20px;
            border-right: 0;
            @media #{$tablet-screen}{
                width: 120px;
                padding: 10px 10px;
            }
        }
    }
    .experience-wrap {
        @media #{$small-screen} {
            margin-top: 30px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0px;
            li {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                transition: transform .4s ease-in-out, box-shadow .4s ease-in-out, -webkit-transform .4s ease-in-out;
                @media screen and (max-width: 600px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                &:hover {
                    transform: translateY(-10px);
                    transition: transform .4s ease-in-out, box-shadow .4s ease-in-out, -webkit-transform .4s ease-in-out;
                }
                a {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 8px 17px 0px rgba(239, 239, 239, 0.35);
                    max-width: 216px;
                    width: 100%;
                    height: 100px;
                    padding: 10px 0;
                    margin: 0px auto;
                    cursor: default;
                    img{
                        cursor: pointer;
                    }
                    @media screen and (max-width: 1199px) {
                        width: calc(100% - 10px);
                    }
                }
                &:nth-child(2),
                &:nth-child(5) {
                    @media screen and (min-width: 768px) {
                        a {
                            margin-top: 45px;
                        }
                    }
                }
            }
        }
    }
}
.counter-section {
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    .counter-wraper {
        background-position: center;
        background-size: cover;
        padding: 50px 0px;
        @media #{$medium-screen}{
            padding: 80px 0;
        }
        @media #{$tablet-screen}{
            padding: 60px 0;
        }
        @media #{$small-screen}{
            padding: 40px 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @media #{$tablet-screen}{
                justify-content: center;
            }
            .box {
                border-width: 2px;
                border-color: rgba(255, 255, 255, 0.05);
                border-style: solid;
                border-radius: 50%;
                width: 220px;
                height: 220px;
                padding: 43px 0px;
                text-align: center;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                @media #{$medium-screen}{
                    width: 180px;
                    height: 180px;
                }
                @media #{$tablet-screen}{
                   margin: 0 10px 20px;
                   width: 200px;
                   height: 200px;
                }
                @media #{$small-screen}{
                    width: 150px;
                    height: 150px;
                 }
                 @media screen and (max-width: 369px){
                     width: 125px;
                     height: 125px;
                 }
                h2 {
                    font-size: 46px;
                    color: $white;
                    font-weight: bold;
                    position: relative;
                    text-shadow: 0px 9px 4px rgba(122, 122, 122, 0.35);
                    width: 100%;
                    @media #{$tablet-screen}{
                        font-size: 36px;
                    }
                    @media #{$small-screen}{
                        font-size: 28px;
                        margin-bottom: 10px;
                    }
                    span {
                        font-size: 35px;
                        position: absolute;
                        @media #{$tablet-screen}{
                            font-size: 30px;
                        }
                    }
                }
                p {
                    font-size: 15px;
                    color: $white;
                    text-shadow: 0px 9px 4px rgba(122, 122, 122, 0.35);
                    font-weight: bold;
                    text-transform: uppercase;
                    @media #{$small-screen}{
                        font-size: 14px;
                        line-height: 22px;
                    }
                    @media screen and (max-width: 369px){
                        font-size: 13px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
.testimonials-section {
    padding: 80px 0;
    background: #f9f9f9;
    @media #{$tablet-screen}{
        padding: 50px 0;
    }
    @media #{$mobile-screen}{
        padding: 30px 0;
    }
    .title {
        h2 {
            @include heading;
            margin-bottom: 30px;
        }
    }
    .slide {
        .testimonial-img {
            margin: 35px auto 20px;
            position: relative;
            max-width: 320px;
            @media screen and (max-width: 420px){
                max-width: 240px;
            }
            &::before {
                content: "";
                background-image: url('../../assets/images/left-quote.png');
                background-size: cover;
                background-position: center;
                width: 64px;
                height: 58px;
                position: absolute;
                display: block;
                left: 15px;
                top: -35px;
            }
            &:after {
                content: "";
                width: 175px;
                height: 175px;
                background-color: $bg-color;
                display: block;
                right: -20px;
                bottom: -20px;
                position: absolute;
                z-index: -1;
                @media screen and (max-width: 420px){
                    width: 120px;
                    height: 120px;
                    right: -10px;
                    bottom: -10px;
                }
            }
        }
        .title {
            @include sub-heading(26px);
            margin-top: 30px;
            margin-bottom: 25px;
        }
        p {
            padding-right: 100px;
            @media screen and (max-width: 1199px) {
                padding-right: 0px;
            }
            @media #{$small-screen}{
                line-height: 26px;
            }
        }
        .next-pre {
            @media #{$small-screen} {
                position: relative;
                left: 0;
                bottom: 0;
                text-align: center;
            }
            .button {
                border: 1px solid rgb(221, 221, 221);
                background-color: rgb(255, 255, 255);
                width: 42px;
                height: 42px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0 2px;
                &:hover {
                    text-decoration: none;
                }
                &:focus{
                    outline: none;
                }
                .fa {
                    color: #6b7597;
                    font-size: 32px;
                }
            }
        }
    }
}
.credentials-section {
    padding: 50px 0px;
    @media #{$tablet-screen}{
        padding: 60px 0;
    }
    background-color: #fcfcfc;
    .title {
        h2 {
            @include heading;
            margin-bottom: 70px;
            @media #{$tablet-screen}{
                margin-bottom: 40px;
            }
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .slick-slider{
            width: 100%;
            .slick-arrow{
                display: none !important;
            }
            .slick-list{
                .slick-track{
                    .slick-slide{
                        li{
                            width: 16.6666%;
                            padding: 0 9px;
                            @media #{$medium-screen}{
                                width: 33.3333%;
                            }
                            @media #{$small-screen}{
                                width: 50%;
                            }
                            @media #{$xs-mobile-screen}{
                                width: 100%;
                            }
                            .box {
                                background-color: $white;
                                box-shadow: 0px 8px 17px 0px rgba(239, 239, 239, 0.35);
                                width: 100%;
                                height: 195px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-bottom: 3px solid $bg-color;
                                transition: transform .4s ease-in-out, box-shadow .4s ease-in-out, -webkit-transform .4s ease-in-out;
                                &:hover {
                                    transform: translateY(-10px);
                                    transition: transform .4s ease-in-out, box-shadow .4s ease-in-out, -webkit-transform .4s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
            .slick-dots{
                bottom: -45px;
                li{
                    @media #{$xs-mobile-screen}{
                        margin: 0;
                    }
                }
            }
        }
    }
}
.news-Blog-section {
    padding: 50px 0 100px;
    @media #{$tablet-screen}{
        padding: 50px 0;
    }
    @media #{$mobile-screen}{
        padding: 30px 0;
    }
    .title {
        h2 {
            @include heading;
            margin-bottom: 50px;
        }
    }
    .box {
        border: 1px solid transparent;
        padding: 8px 12px 25px;
        height: 100%;
        border: 1px solid #eaeaea;
        @media #{$small-screen}{
            margin-bottom: 20px;
            height: auto;
        }
        .blog-image{
            padding-top: 50%;
            position: relative;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        ul {  
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style: none;
            border-radius: 5px;
            background-color: $white;
            box-shadow: 0px 9px 15.04px 0.96px rgba(217, 217, 217, 0.35);
            width: 444px;
            max-width: 95%;
            height: 55px;
            padding: 0;
            margin: -30px auto 25px;
            position: relative;
            z-index: 999;
            li {
                color: #404040; 
                font-size: 16px;
                font-weight: normal;
                font-family: $secondary-font;
                max-width: calc(50% - 10px);
                width: 100%;
                margin-left: 10px;
                margin-bottom: 0;
                @media #{$tablet-screen}{
                    font-size: 14px;
                    margin-bottom: 0;
                }
                @media screen and (max-width: 360px){
                    max-width: 100%;
                }
                span {
                    color: $bg-color;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
        .blog-title{
            h2{
                font-size: 20px;
                font-family: $secondary-font;
                color: #404040;
                font-weight: 600;
                margin: 0;
                @media #{$tablet-screen}{
                    font-size: 18px;
                }
                @media #{$mobile-screen}{
                    font-size: 17px;
                }
                a{
                    color: #404040;
                }
            }
        }
        .button {
            margin-top: 25px;
            p {
                color: $primary-light;
                font-size: 18px;
                font-family: $secondary-font;
            }
            .read-more {
                @include link($primary-color);
                padding-bottom: 10px;
                &:hover {
                    text-decoration: none;
                }
                &:before {
                    content: "";
                    border-bottom: 3px solid $bg-color;
                    width: 35px;
                    display: block;
                    margin-top: 5px;
                    opacity: 1;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
}