    .maintain-main .our-credientials{
    background-image: url('../images/credientials-background.png');
}
.make-intro-section{
    padding: 80px 0 35px;
    @media #{$medium-screen}{
        padding: 60px 0;
    }
    @media #{$small-screen}{
        padding: 30px 0;
    }
    .right-wrap{
        position: relative;
        padding: 15px 30px;
        @media #{$tablet-screen}{
            padding: 15px 0;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background: linear-gradient(-47deg, #0dccff 0%, #4760ff 100%);
            @media #{$tablet-screen}{
                opacity: 0;
            }
        }
    }
    .title{
        margin-bottom: 15px;
        span{
            font:{
                size: 20px;
                family: $primary-font;
                weight: 700;
            }
            color: $primary-light;
            text-transform: uppercase;
            @media #{$mobile-screen}{
                font-size: 18px;
            }
        }
        h2{
            @include heading;
        }
    }
    .content{
    }
}
.maintain-services{
    padding-top: 0;
    @media #{$medium-screen}{
        padding: 0;
    }
    .maintain-service-wrap{
        margin-bottom: 80px;
        @media #{$medium-screen}{
            margin-bottom: 80px;
        }
        @media #{$small-screen}{
            margin-bottom: 50px;
        }
        .maintain-service-image{
            @media #{$small-screen}{
                margin-bottom: 30px;
            }
        }
        .maintain-service-content{
            .ser-contain{
                .service-title{
                    @include heading;
                    margin-bottom: 30px;
                    @media #{$small-screen}{
                        margin-bottom: 15px;
                    }
                }
                .ser-image{
                    display: none;
                    margin-bottom: 20px;
                    @media #{$small-screen}{
                        display: block;
                    }
                }
                .service-text{
                    margin-bottom: 30px;
                    @media #{$tablet-screen}{
                        line-height: 26px;
                    }
                }
                .service-link{
                    @include theme-btn($bgcolor: $black, $font-size: 17px, $padding: 10px 35px, $border-radius: 7px);
                }
            }
        }
        .maintain-service-image{
            @media #{$small-screen}{
                display: none !important;
            }
        }
        &.odd{
            @media #{$small-screen}{
                .maintain-service-image{
                    display: flex;
                    order: 1;
                    margin-bottom: 30px;
                }
                .maintain-service-content{
                    display: flex;
                    order: 2;
                }
            }
        }
    }
}
.hire-developers-section{
    padding: 95px 0;
    background-image: url('../../assets/images/dedicated-developer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$medium-screen}{
        padding: 60px 0;
    }
    @media #{$small-screen}{
        padding: 30px 0;
    }
    .hire-dev-image{
        @media #{$tablet-screen}{
            display: none;
        }
    }
    .hire-dev-content{
        .hire-dev-title{
            @include heading;
            margin-bottom: 35px;
            @media #{$small-screen}{
                margin-bottom: 20px;
            }
        }
        .hire-dev-image{
            display: none;
            @media #{$tablet-screen}{
                display: block;
                margin-bottom: 20px;
            }
        }
        .hire-dev-text{
            p{
                margin-bottom: 45px;
            }
            ul{
                margin: 0 0 45px;
                list-style: none;
                li{
                    position: relative;
                    padding-left: 40px;
                    margin-bottom: 20px;
                    &:before{
                        content: "\f00c";
                        font: normal normal normal 14px/1 FontAwesome;
                        width: 23px;
                        height: 23px;
                        text-align: center;
                        line-height: 23px;
                        color: $white;
                        border-radius: 100%;
                        position: absolute;
                        left: 0;
                        background: $secondary-color;
                    }
                }
            }
            a{
                @include theme-btn($bgcolor: $secondary-color, $font-size: 18px, $padding: 11px 44px, $border-radius: 7px);
            }
        }
    }
}
