.make-services{
    padding: 100px 0;
    @media #{$medium-screen}{
        padding: 60px 0;
    }
    @media #{$mobile-screen}{
        padding: 30px 0;
    }
    .services-top{
        margin-bottom: 50px;
        @media #{$small-screen}{
            margin-bottom: 30px;
        }
        .title{
            span{
                font:{
                    size: 17px;
                    family: $primary-font;
                    weight: 700;
                }
                color: $primary-light;
                text-transform: uppercase;
                @media #{$mobile-screen}{
                    font-size: 18px;
                }
            }
            h2{
                @include heading;
            }
        }
        .right-wrap{
            position: relative;
            padding: 15px 30px;
            @media #{$tablet-screen}{
                padding: 0 15px;
            }
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 4px;
                height: 100%;
                background: linear-gradient( -47deg, rgb(13,204,255) 0%, rgb(71,96,255) 100%);
                @media #{$tablet-screen}{
                    display: none;
                }
            }
            .content{
                p{
                    margin: 0;
                    @media #{$medium-screen}{
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .services-list{
        .service-wrap{ 
            border-color: #fff;
            padding: 25px 25px;
            box-shadow: 0px 0px 49px 0px rgba(189, 189, 189, 0.4);
            border-radius: 0 0 50px 0;
            transition: background 0.5s ease-in 0s;
            @media #{$medium-screen}{
                margin-bottom: 30px;
                padding: 30px 15px;
            }
            .card-header{
                padding: 0;
                background-color: transparent;
                border: 0;
                .s-title{
                    @include sub-heading(18px);
                    margin-bottom: 30px;
                    line-height: 25px;
                    min-height: 42px; 
                    display: flex;
                    align-items: center;
                    width: calc(100% - 100px);
                    @media #{$medium-screen}{
                        font-size: 17px;
                    }
                }
                .service-icon{
                    position: relative;
                    margin-bottom: 25px;
                    min-height: 82px;
                    width: 100px;
                    .hover-image{
                        display: none;
                    }
                }
            }
            .card-body{
                padding: 0;
                .text{
                    margin-bottom: 20px;
                    p{
                        color: $primary-light;
                        min-height: 165px;
                        font-size: 14px;
                        @media #{$medium-screen}{
                            min-height: 200px;
                        }
                        @media #{$tablet-screen}{
                            min-height: 130px;
                        }
                        @media #{$small-screen}{
                            min-height: inherit; 
                        }
                    }
                }
                .s-link{ 
                    @include link(#2d6cdf);
                    padding-right: 30px;
                    &::after{
                        content: "\f178";
                        opacity: 1;
                        right: 0;
                    }
                }
            }
            &:hover{
                background: linear-gradient( -47deg, rgb(71,96,255) 0%, rgb(13,204,255) 100%);
                .card-header{
                    .s-title{
                        color: $white;
                    }
                }
                .card-body{
                    .s-title, .text p, .s-link{
                        color: $white;
                    }
                    a{
                        &:after{
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
                .service-icon{
                   .main-image{
                       display: none;
                   }
                   .hover-image{
                       display: block;
                   }
                }
            }
        }
    }
}
.technology{ 
    padding-bottom: 100px;
    .title{
        margin-bottom: 50px;
        h2{
            @include heading;
        }
        @media #{$small-screen}{
            margin-bottom: 40px;
        }
    }
    .technology-list{
        .technology-outer-wrap{
            margin-bottom: 50px;
            &:last-child, &:nth-child(5){
                margin-bottom: 0;
            }
            @media #{$medium-screen}{
                margin-bottom: 40px;
            }
            @media #{$small-screen}{
                &:nth-child(5){
                    margin-bottom: 40px;
                }
            }
            .technology-wrap{
                display: flex;
                flex-wrap: wrap;
                .icon-wrap{
                    width: 80px;
                    height: 80px;
                    border: 1px solid $primary-color;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 25px;
                    @media #{$medium-screen}{
                        width: 65px;
                        height: 65px;
                    }
                    @media #{$mobile-screen}{
                        width: 55px;
                        height: 55px;
                        margin-right: 15px;
                    }
                    img{
                        margin: 0;
                        @media #{$medium-screen}{
                            width: 32px;
                        }
                        @media #{$mobile-screen}{
                            width: 28px;
                        }
                    }
                }
                .content-wrap{
                    width: calc(100% - 105px);
                    h3{
                        @include sub-heading(22px);
                        margin-bottom: 15px;
                    }
                    p{
                        margin: 0 0 10px;
                        //min-height: 112px;
                        @media #{$tablet-screen}{
                            min-height: 252px;
                        }
                        @media #{$small-screen}{
                            min-height: inherit;
                        }
                    }
                    a{
                        @include link($primary-color);
                    }
                    @media #{$mobile-screen}{
                        width: calc(100% - 70px); 
                    }
                }
            }
        }
    }
}
.make-main .our-credientials{
    background-image: url('../images/credientials-background.png');
}
.our-credientials{
    padding: 100px 0 140px;    
    background-repeat: no-repeat;
    background-position: center;
    @media #{$tablet-screen}{
        padding: 60px 0 80px;
    }
    @media #{$small-screen}{
        padding: 60px 0;
    }
    @media #{$mobile-screen}{
        padding: 30px 0;
    }
    .title{
        margin-bottom: 70px;
        h2{
            @include heading;
        }
        @media #{$small-screen}{
            margin-bottom: 40px;
        }
    }
    .credientials-wrap{
        .c-main{
            position: relative;
            display: inline-block;
            .main-image{
                animation: rotation 20s infinite;
                @media #{$tablet-screen}{
                    max-width: 580px;
                }
                @media #{$small-screen}{
                    display: none;
                }
            }
            .center-image{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                @media #{$small-screen}{
                   display: none;
                }
            }
            .creadi_wrap{
                border-radius: 10px;
                box-shadow: 0px 0px 26.35px 4.65px rgba(214, 214, 214, 0.35);
                display: inline-block;
                position: absolute;
                background: $white;
                width: 133px;
                height: 133px;
                line-height: 133px;
                z-index: 9999;
                @media #{$small-screen}{
                    position: inherit;
                    margin: 0 10px 10px;
                    width: calc(50% - 20px) !important;
                    height: 125px !important;
                    line-height: 125px !important;
                    @media screen and (max-width: 400px){
                        width: 100% !important;
                        margin: 0 0 10px; 
                    }
                }
                &.wp-engin, &.linkedin, &.yoast{
                    left: 0;
                    top: 30px;
                    @media #{$small-screen}{
                        left: inherit;
                        top: inherit;
                    }
                }
                &.shopify, &.semrush, &.content-marketing-specialist{
                    right: 30px;
                    top: 0;
                    @media #{$small-screen}{
                        right: inherit;
                        top: inherit;
                    }
                }
                &.contributor, &.google-adwords, &.search-marketing-specialist{
                    bottom: 108px;
                    left: -40px;
                    @media #{$small-screen}{
                        left: inherit;
                        bottom: inherit;
                    }
                }
                &.aurthorized, &.google-analytics, &.hubspot-inbound-certified{
                    right: -80px;
                    bottom: 195px;
                    @media #{$tablet-screen}{
                        right: -35px;
                    }
                    @media #{$small-screen}{
                        right: inherit;
                        bottom: inherit;
                    }
                }
                &.magento, &.hubspot, &.google-analytics{
                    width: 200px;
                    height: 94px;
                    line-height: 95px;
                    bottom: -35px;
                    left: 275px;
                    @media #{$small-screen}{
                        left: inherit;
                        bottom: inherit;
                    }
                }
                img{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.recent-work{
    padding-bottom: 100px;
    padding-top: 100px;
    @media #{$tablet-screen}{
        padding-bottom: 60px;
    }
    @media #{$mobile-screen}{
        padding-bottom: 30px;
    }
    .title{
        margin-bottom: 50px;
        h2{
            @include heading;
            margin-bottom: 25px;
        }
        p{
            margin: 0 150px; 
            @media #{$medium-screen}{
                margin: 0;
            }
        }
    }
    .portfolio-list{
        .portfolio-wrap{
            position: relative;
            @media #{$small-screen}{
                margin-bottom: 30px;
            }
            .portfolio-image{
                position: relative;
                @media #{$tablet-screen}{
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 16, 75, 0.51);
                    }
                }
                img{
                    max-width: 100%;
                }
            }
            .portfolio-content{
                position: absolute;
                top: 60px;
                left: 70px;
                padding-right: 100px;
                @media #{$medium-screen}{
                    top: 30px;
                    left: 30px;
                    padding-right: 15px;
                }
                @media #{$mobile-screen}{
                    top: 15px;
                    left: 15px;
                    padding-right: 10px;
                }
                .sub-title{
                    font:{
                        size: 20px;
                        family: $primary-font;
                        weight: 500;
                    }
                    color: $white;
                    display: inline-block;
                    margin-bottom: 10px;
                    @media #{$mobile-screen}{
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }
                .portfolio-title{
                    @include heading;
                    color: $white;
                    margin-bottom: 15px;
                }
                p{
                    color: $white;
                    margin-bottom: 45px;
                    @media #{$tablet-screen}{
                        margin-bottom: 20px;
                    }
                    @media #{$mobile-screen}{
                        margin-bottom: 5px;
                    }
                }
                .portfolio-link{
                    @include link($white);
                }
            }
        }
    }
}