// Partnership

.partnership-type {
    .call-section {
        background-color: #00386c;
        padding: 100px 0px;
        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0px;
                }
                h3 {
                    color: #ffffff;
                    display: block;
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    @media only screen and (max-width: 1460px) {
                        font-size: 25px;
                    }
                    @media only screen and (max-width: 1170px) {
                        font-size: 20px;
                    }
                    b {
                        font-size: 44.45px;
                        @media only screen and (max-width: 1460px) {
                            font-size: 35px;
                        }
                        @media only screen and (max-width: 1170px) {
                            font-size: 27px;
                        }
                    }
                }
                a {
                    color: #46cdff;
                    display: block;
                    font-size: 100px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    font-style: normal;
                    @media only screen and (max-width: 1460px) {
                        font-size: 80px;
                    }
                    @media only screen and (max-width: 1170px) {
                        font-size: 65px;
                    }
                    @media only screen and (max-width: 480px) {
                        font-size: 50px;
                    }
                    img {
                        @media only screen and (max-width: 375px) {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
    .page-header{
        .title{
            &:after {width: 73px;
            background: #33a2de;
            height: 5px;
            content: "";
            position: absolute;
            left: 0px;
            right: 0;
            margin: 0 auto;
            bottom: 0;
                }
              }
          }
    
    .offshare, .referral {
        .row{
            flex-direction: row-reverse;
        }
    }
    .reseller {
        background: linear-gradient( 45deg, rgb(56, 96, 161) 0%, rgb(55, 151, 209) 51%, rgb(57, 201, 201) 100%, rgb(107, 203, 221) 100%);
        .title,
        b,
        p {
            color: #ffffff;
        }
    }
    .channel {
        background: linear-gradient( 45deg, rgb(56, 96, 161) 0%, rgb(55, 151, 209) 51%, rgb(57, 201, 201) 100%, rgb(107, 203, 221) 100%);
        .title,
        b,
        p {
            color: #ffffff;
        }
       
    }
    .proposal {
        background-color: #eff4f8;
        padding: 70px 0px;
        .row {
            position: relative;
        }
        .is-submitted {
            @media only screen and (max-width: 576px){
                height: 50%;
                bottom: 0;
                top: unset;
            }
        }
        .box {
            margin-top: 30px;
            h5 {
                font-size: 18px;
                font-weight: 500;
            }
            p {
                font-size: 16px;
                line-height: 25px;
                font-family: 'Roboto', sans-serif;
                color: rgb(137, 142, 146);
                font-weight: 300;
            }
        }
        h2 {
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            color: #2a3c50;
            line-height: 40px;
            text-align: left;
            margin: 0px;
            font-weight: 700;
        }
        h5 {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            color: rgb(137, 142, 146);
            line-height: 30px;
            text-align: left;
            margin: 0px;
            font-weight: 500;
        }
       
        ul {
            padding-left: 25px;
            margin: 20px 0px 0px 0px;
            li {
                color: #0e61cc;
                font-size: 25px;
                margin-bottom: 5px;
                span {
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    color: rgb(67, 78, 90);
                    line-height: 20px;
                    text-align: left;
                }
            }
        }
        .work-with-us {
            margin: 0px;
            padding: 30px;
            @media only screen and (max-width: 767px) {
                margin-top: 50px;
            }
            form {
                margin-top: 20px;
                .row {
                    margin-bottom: 30px;
                    input {
                        color: #7b7b7b;
                        border-color: #d2dce8;
                    }
                }
                .btn {
                    margin-top: 20px;
                }
            }
        }
    }
}

// Partnership
.partner-type {
    padding: 70px 0px;
    .title {
        font-size: 36px;
        font-family: $primary-font;
        color: $primary-color;
        line-height: 30px;
        text-align: left;
        margin: 0px 0px 15px 0px;
        font-weight: 600;
    }
    b {
        font-size: 16x;
        color: rgb(34, 50, 84);
        line-height: 25px;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    p {
        font-size: 18px;
        line-height: 34px;
        text-align: left;
        margin: 0px;
        font-weight: 400;
    }
   
   .col-lg-5{
       text-align: center;
       margin-bottom: 50px;
   }
   @media(max-width: 767px){
    .col-md-7.col-lg-7{
        order :2;
    }
   }
}
.offshare, .referral {
    padding: 70px 0px;
    @media screen and (max-width: 767px){
        padding: 30px 0;
    }
    .row{
        flex-direction: row-reverse;
        .col-md-7{
            @media screen and (max-width: 767px){
                order: 2;
            }
        }
    }
    p {
        padding: 6px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        line-height: 28px;
        text-align: left;
    }
}
.reseller {
    background: linear-gradient(45deg, #3860a1 0%, #3797d1 51%, #39c9c9 100%, #6bcbdd 100%);
    padding: 70px 10px;
    @media screen and (max-width: 767px){
        padding: 30px 0;
    }
    .title {
        color: #fff;
    }
    p {
        padding: 0px;
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }
}